<div class="container">
    <app-add-dungeon></app-add-dungeon>
    <div class="card text-center text-white bg-secondary">
        <div class="card-header">
            <div class="row text-right">
                <div class="col-7">
                    <h2>6rxwxu3e</h2>
                </div>
                <div class="col-5">
                    <a href="#" class="btn btn-primary">Edit Buttons Here</a>
                </div>
            </div>
        </div>
        <div class="card-body">
            <h5 class="card-title">Lower Loran</h5>
            <hr>
            <div class="row">
                <div class="col-sm">
                    <h4 class="card-text">Leyer 1</h4>
                    <h5 class="card-text">Blood Rock</h5>
                    <p class="card-text">1st side room</p>
                </div>
                <div class="col-sm">
                    <h4 class="card-text">Leyer 2</h4>
                    <h5 class="card-text">Blood Rock</h5>
                    <p class="card-text">boss room</p>
                </div>
                <div class="col-sm">
                    <h4 class="card-text">Leyer 3</h4>
                    <h5 class="card-text">Blood Rock</h5>
                    <p class="card-text">boss room</p>
                </div>
            </div>
            <br>
            <p class="card-text text-left">Comment Text Here...</p>
            <br>
            <p class="text-right">F/R/C Tags Here</p>
        </div>
        <div class="card-footer text-muted text-right">
            <p class="text-left">Username here</p>
            <a href="#" class="btn btn-primary">Save & Delete Buttons Here</a>
        </div>
    </div>
</div>