* Add Bootstrap
    - Add Header, Title & Logo
    - Add the Page Container

* Add Bloodborne Weapons Table
    - Include the Weapon Price
    - Include the Weapon Details

* Add Bloodborne Characters
    - Include the Character Picture

* Link the Database to Firebase 

