<div class="container">
    <h1>Caracter Dialogs</h1>

    <h2>Gehrman</h2>
    <p>Ah-hah, you must be the new hunter. Welcome to the Hunter's Dream. This will be your home, for now. I am... Gehrman,
        friend to you hunters. You're sure to be in a fine haze abuot now, bu don't think to hard about all of this. Just
        go out and kill a few beasts. It's fot your own good. You know, it's just what hunters do! You will get used to it..."</p>
    <br>
    <br>
    <p>This was once a safe haven for hunters. A workshop where hunters used blood to enhance their weapons and flesh.We don't
        have as many tools as we once did, but... You're welcome to use whatever you find. (Whisper) ...Even the doll, should
        it please you..."</p>
    <br>
    <br>
    <p>The moon is close. It will be a long hunt tonight. If the beasts loom large, and threaten to crush your spirits, seek
        the Holy Chalice. As every hunter before you has. A Holy Chalice will reveal the tomb of the gods, ...where hunters
        partake in communion..."</p>
    <br>
    <br>
    <p>Most of the Holy Chalices lie deep within the of the gods. And the few that found their way to the surface... Were lost
        again in the hands of men. But if the old hunter tales remain true... ...one of the Chalices is worshipped in the
        valley hamlet. Yet the town is in disarray... It was burned and abandoned, for fear of the scourge, home now only
        to beasts. The perfect place for a hunter, wouldn't you say?"</p>
    <br>
    <br>
    <p>Oh, Laurence... what's taking you so long... I've grown too old for this, of little use now, I'm afraid..."</p>
    <br>
    <br>
    <p>The Healing Church, and the Blood Ministers who belong to it... were once guardians of the hunters, in the times of the
        hunters... Ludwig. They worked, and forged weapons, in their unique workshop. Today, most ministers don't recall
        the hunters. And so, heed the message of your forebears. Ascend to Oedon Chapel."</p>
    <br>
    <br>
    <p>Oh, Laurence... Master Willem... Somebody help me... Unshackle me please, anybody... I've had enough of this dream...
        The night blocks all sight... Oh, somebody, please..."</p>
    <br>
    <br>
    <p>Good Hunter, you've done well, the night is near its end. Now I will show you mercy. You will die, forget the dream,
        and awake under the morning sun. You will be freed from this terrible hunter's Dreams."</p>
    <br>
    <br>
    <p>Farewell, my keen hunter. Fear the blood."</p>
    <br>
    <br>
    <p>Dear, oh dear. What was it? The Hunt? The Blood? Or the horrible dream? Oh, It doesn't matter... It always comes down
        to the Hunter's helper to clean up after these sort of messes. Tonight Gehrman joins the hunt..."</p>
    <br>
    <br>
    <p>You must accept your death, be freed from the night.</p>
    <br>
    <br>
    <p>The night, and the dream, were long..."</p>
    <br>
    <hr>
    <br>
    <h2>Lore</h2>
    <ul>
        <li>In time, a man named Gehrman would rise to the task of the Beast problem. Gehrman redesigned common clothing to provide
            better defense against the beasts' claws, and also created the Burial Blade, a unique weapon capable of transforming
            during battle to suit his need for a short or long weapon. Gehrman's work was so admired that his Burial Blade
            would become the basis for all hunter armament technology, later known as trick weapons. Moreover, Gehrman was
            also a formidable fighter, whose agility would became mandatory in any hunter's fighting style.</li>
        <li>While it doesn't say specifically, there's heavy implication that Gherman was hired by the Healing Church to work
            in the Workshop due to his role as an inventor, since his work place is directly beneath the Healing Church's
            Oedon Chapel. He worked in the Workshop presumably until his death. he took many apprentices, who all did his
            duty in his honor, and may well have died long ago. The bone in the workshop graveyard was one of such apprentices,
            who had mastered the art of Quickening, allowing him to move at incredible speed.</li>
        <li>The description of the Umbilical Cord found in the Old Abandoned Workshop states "Every Great One loses its child,
            and then yearns for a surrogare. The Third Umbilical Cord precipitated the encounter with the pale moon, which
            beckoned the hunters and conceived the hunter's dream. - Abandoned Workshop". According to this umbilical cord,
            the Moon Presence lost its child and yearned for a surrogate. Surrogate means proxy or substitute in the dectionary.
            This means that Gehrman may have became the substitute child of the Moon Presence. For what purpose does the
            surrogate child do? It is not known yet. Why do they seek substitutes/proxies? Maybe the Great ones grieved the
            lost of their child and its their way of coping? Could this mean that they pissess some emotions or is it for
            a entirely different reason? (In the French version of the game, the term "surrogate" has been translated as
            "substitut", which means "substitute" or "replacement" in French.)</li>
        <li>In the Abandoned Old Workshop, you will find an Old Hunter Bone on the grave near the house. The location and description
            implies that it's a grave of his apprentice who is long dead. How exactly Gehrman is still alive remains a mystery,
            but is most likely a result of the Moon Presence's actions. On occasion, in the Hunter's Dream, the Plain Doll
            will relocate to this same greve.</li>
        <li>Gehrman's role in the Hunter's Dream is to be an overwathcher of sorts. He, like you (depending on the ending you
            receive), was selected by the "Great One", the Moon Presence, as surrogate of its lost child.</li>
        <li>By killing Gehrman, you are essentially allowing him to be freed from the dream and his role in it, allowing him
            to awaken from this, "Terrible hunter's dream".</li>
        <li>From Gehrman's dialogue, we can assume that he suffers from a strong depression; he's been in the Hunter's Dream
            longer than anyone else, and has lost many good friends.</li>
        <li>This isn't much else to explain why the Moon Presence would want to replace Gehrman with you. It's clear that the
            Moon Presence requires this figure in the dream, for whatever reason. This begs the question: Was Gehrman going
            against the will and biddings of the Moon Presence freeing hunters from the dream?</li>
        <li>Gehrman could also simply be a pawn to the Moon Presence, only able to act freely to certain extent. HE clearly isn't
            happy about being in the Hunter's Dream. He wants the hunter to slay the cause of the Nightmate, which s/he does
            by killing Mergo's Wet Nurse. The screen even says "Nightmare Slain" instead of the usual "Prey Slaughtered".
            It does the same after killing the Moon Presence, which implies that these two dreams are rivals. After the hunter
            gets rid of you, so it orders Gehrman to kill you. This would make the hunter awake from the dream, without memory.
            If the hunter has used the umbilical cords, the Moon Presence tries to kill them, because they are a threat to
            it, a new rival. The Moon Presence seems to need a host. It does not want to replace Gehrman, but ut has to if
            Gehrman dies.</li>
    </ul>
</div>