<div class="card text-white bg-secondary" id="add-dungeon">
    <div class="card-body">


        <form>
            <div class="form-row">
                <div class="form-group col-md-8">
                    <label for="chaliceCode">Chalice Code</label>
                    <input type="text" class="form-control" id="chalicCode">
                </div>
                <div class="form-group col-md-4">
                    <label for="exampleFormControlSelect1">Chalice Type</label>
                    <select class="form-control" id="exampleFormControlSelect1">
                        <option>Pthumeru</option>
                        <option>Central Pthumeru</option>
                        <option>Lower Pthumeru</option>
                        <option>Defiled</option>
                        <option>Pthumeru Ihyll</option>
                        <option>Ailing Loran</option>
                        <option>Lower Loran</option>
                        <option>Sinister Loran</option>
                        <option>Isz</option>
                        <option>Sinister Isz</option>
                        <option>Hintertomb</option>
                        <option>Lower Hintertomb</option>
                        <option>Sinister Hintertomb</option>
                    </select>
                </div>
            </div>
            <div class="form-row">
                <div class="col-md-4">
                    <label for="layer1">Layer 1</label>
                    <input type="text" class="form-control" id="layer1">
                    <br>
                    <input type="text" class="form-control">
                </div>
                <div class="col-md-4">
                    <label for="layer2">Layer 2</label>
                    <input type="text" class="form-control" id="layer2">
                    <br>
                    <input type="text" class="form-control">
                </div>
                <div class="col-md-4">
                    <label for="layer3">Layer 3</label>
                    <input type="text" class="form-control" id="layer3">
                    <br>
                    <input type="text" class="form-control">
                </div>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                <label class="form-check-label" for="inlineCheckbox1">Fetid</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
                <label class="form-check-label" for="inlineCheckbox2">Rotted</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="option3">
                <label class="form-check-label" for="inlineCheckbox3">Cursed</label>
            </div>
            <br>
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">Notes</span>
                </div>
                <textarea class="form-control" aria-label="With textarea"></textarea>
            </div>
            <br>
            <button type="submit" class="btn btn-primary">Add Chalice</button>
        </form>

    </div>
</div>